<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Verde Uva</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="headerHome">
        <div class="logo">
         <img class="logo" src="./images/logoVerdeUva.jpg" alt="logoVerdeUva">
             </div>
             <h2>VerdeUva</h2>
         <nav class="headerHome">
            <a href="#">Comprá</a>
            <a href="#">Vendé</a>
            <a href="#">Restaurá</a>
         </nav></div>
    </header>

    <h1>Verde Uva </h1>

    <p class="wrapper">Este es el index de la aplicación</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda obcaecati cumque labore 
        temporibus dicta quasi voluptatibus, ratione maxime alias expedita, 
        nesciunt provident pariatur a ipsa odio nihil! Voluptas, neque accusantium!</p>
     <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dolorum aliquid
         accusamus eligendi et, veniam eos sapiente dicta dolore facere nihil! Odio, possimus dicta
         voluptatum excepturi recusandae mollitia repellat nemo?
     </p>
     <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dolorum aliquid
         accusamus eligendi et, veniam eos sapiente dicta dolore facere nihil! Odio, possimus dicta
         voluptatum excepturi recusandae mollitia repellat nemo?
     </p>
     <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dolorum aliquid
         accusamus eligendi et, veniam eos sapiente dicta dolore facere nihil! Odio, possimus dicta
         voluptatum excepturi recusandae mollitia repellat nemo?
     </p>
     <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Laudantium dolorum aliquid
         accusamus eligendi et, veniam eos sapiente dicta dolore 
         facere nihil! Odio, possimus dicta
         voluptatum excepturi recusandae mollitia repellat nemo?
     </p>
     <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Laudantium dolorum aliquid
         accusamus eligendi et, veniam eos sapiente dicta dolore 
         facere nihil! Odio, possimus dicta
         voluptatum excepturi recusandae mollitia repellat nemo?
     </p>
     <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dolorum aliquid
         accusamus eligendi et, veniam eos sapiente dicta dolore facere nihil! Odio, possimus dicta
         voluptatum excepturi recusandae mollitia repellat nemo?
     </p>

    </body>
</html>